{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<main id="page-createVoitureType">

    <h1>Ajouter un type de voiture</h1>

    {{ form_start(formVoitureType) }}

    {{ form_widget(formVoitureType) }}

    {# <div class="form-group">
        <label for="">Nom : </label>
        {{ form_widget(formVoitureType.Nom) }}
    </div>

    <div class="form-group">
        <label for="">Kilometres minimum : </label>
        {{ form_widget(formVoitureType.minKg) }}
    </div>

    <div class="form-group">
        <label for="">Kilometres maximum : </label>
        {{ form_widget(formVoitureType.maxKg) }}
    </div> #}

    {{ form_end(formVoitureType) }}

</main>

{% endblock %}
